<div class="wrapper mx-auto" (scroll)="myFunction()">
    <div class="section mx-auto">
        <div class="goalComponent">
            <app-goal></app-goal>
        </div>
        <div class="text-box">
            <div class="d-flex">
                <i class="fa fa-map-marker text-white mr-2" aria-hidden="true"></i>
                <p class="mb-2">Yerevan, Armenia</p>
            </div>
            <div>
                <h2 class="text-white mt-0 pt-0">
                    Gyumri Hospital Reconstruction
                </h2>
            </div>
            <div class="saveProject d-flex">
                <i class="fa fa-bookmark-o mr-2 text-white" aria-hidden="true"></i>
                <p> Save project</p>
            </div>
            <div class="progress mt-1">
                <div class="progress-bar" role="progressbar" style="width: 44.5%; background-color: #F1205D;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: 23.5%; background-color: #FBC0D3;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex progresTextBox mt-2">
                <p class="progresFirstText text-center">
                    Work progress<br>
                    <span>for 07 Nov</span>
                </p>
                <p class="ml-5">
                Collected<br>
                    <span>$ 1132500</span>
                </p>
            </div>
        
        </div>
    </div>
</div>
<div class="navBar" >
    <app-nav-bar></app-nav-bar>
</div>
<div class="section1 mx-auto"> 
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="ml-4 mt-5">
        <app-donations-box></app-donations-box>
    </div>
   
</div>

