<div class="wrapper">
    <div>
        <p class="title mb-1">Goal</p>
        <h2 class="goal mb-0">$ 1150000 <span>of</span></h2>
        <p class="reaised">$ 1132500 raised</p>
        <div class="d-flex">
            <span class="text-danger mr-1">* </span>
            <p class="smallText"> 40% of required amount was donated <br> by Charity <span class="boldText">Foundation</span></p>
        </div>
    </div>
    <div class="inputBox d-flex">
        <input type="text" placeholder="Donation amount" >
        <div class="line"></div>
        <select class="form-control">
            <option selected>USD</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <button type="button" class="donateBtn mt-4">DONATE NOW</button>
    <p class="text-center helpText mt-3">Can help with anything else? <br> <span>More about it</span> </p>
</div>
