.wrapperr{
    height: 75vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}
.footer{
    margin-top: 140px;
}

@media only screen and (min-width: 1600px) {
    .wrapperr{
        height: 85vh;
    }
}