.wrapper{
    margin-left: 120px;
    width: 100vw;
    height: 60px;
}
.section{
    width: 80% !important;
    background-color: white !important;
}
ul li {
    font-family: Circular Std Medium;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 14px;
}
hr{
    width: 100vw;
    height: 5px;
    color: #EDEDED;
    background-color: #EDEDED;
}
.leftSide{
    margin-top: 10px;
    margin-right: 50px;
}
.leftSide p {
    font-family: Circular Std Black;
}
.leftSide p span{
   margin-top: 0;
   font-family: Circular Book;
   font-size: 10px;
}

.line{
    margin-top: 10px;
    height: 25px;
    border: 0.5px solid #D7D7D7;
    background-color:  rgb(93, 95, 90);
}
.donateBtn{
    font-family: Circular Book;
    font-size: 10px;
    background-color: black;
    color: white;
    text-align: center;
    width: 180px;
    height: 30px;
    border: none;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.active{
    height: 2px;
    color: #F3457B;
    background-color: #F3457B;
    width: inherit;
    margin-right: 5px;
    position: relative;
    right: 25px;
}

@media only screen and (min-width: 1600px) {
    .wrapper .section {
        width: 68% !important;
    }
}